*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Arial, sans-serif;
}

.section {
    flex: 1 0 300px;
}

.hero.section {
    flex-basis: 450px;
}

.hero.section,
.footer {
    background: #1F2937;
}

.hero .primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .secondary,
.hero a,
.call-to-action .secondary,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .logo {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero .content {
    display: flex;
    justify-content: space-between;
}

button,
.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    padding: 6px 28px;
    border: 1px solid #3882F6;
    border-radius: 6px;
    font-weight: 700;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
}

.call-to-action .primary {
    font-size: 24px;
    font-weight: 700;
}

.img-placeholder {
    font-size: 18px;
    color: #F9FAF8;
}

.information {
    text-align: center;
}

.information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information p {
    color: #3b4f6b;
    font-size: 18px;
    font-weight: 100;
}

.info-container {
    display: flex;
    gap: 32px;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}