*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Arial, sans-serif;
}

.section {
    flex: 1 0 450px;
    padding: 40px 160px;
}

.hero,
.header,
.footer {
    background: #1F2937;
}

.hero.section {
    display: flex;
}

.hero .primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header a,
.secondary,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 160px;
    padding-bottom: 0;
}

.hero .content {
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 64px;
}

.hero-text {
    padding: 12px 0;
    flex: 1;
}

.hero .img-placeholder {
    background-color: grey;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button,
.cta-container {
    background-color: #3882F6;
    color: #F9FAF8;
}

button {
    padding: 6px 28px;
    border: 1px solid #3882F6;
    border-radius: 6px;
    font-weight: 700;
    margin-top: 8px;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
}

.call-to-action .primary {
    font-size: 24px;
    font-weight: 700;
}

.information {
    text-align: center;
}

.information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 48px;
}

.information p {
    color: #3b4f6b;
    font-size: 18px;
    font-weight: 100;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
}

.info-block {
    width: 160px;
}

.info-image {
    border: 3px solid #3882F6;
    border-radius: 18px;
    height: 160px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action {
    display: flex;
    flex-basis: 300px;
}

.cta-container {
    margin: auto;
    padding: 40px 100px;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 90px;
}